/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

a {
  #4e2a84;
}
body {
  background-color: #efefef;
}

.tab:hover {
  cursor: pointer;
  border-bottom: #4e2a84 solid 2px;
}

.tab.active {
  border-bottom: #4e2a84 solid 2px;
}

.card .card-content p {
  margin: 8px 0;
}