
<div class="col">
  <div class="card">
    <div class="card-content">
      <h4>Research Questions</h4>
      <p>The issues, controversies, or concerns that guide the need for conducting a study in the form of a stand-alone question. This is done to define the parameters of the research study and direct the focus of the rest of the research project.</p>
    </div>
    <div class="card-action right-align">
      <div class="chip purple lighten-1 purple-text text-lighten-3">MSHE 406</div>
      <div class="chip purple lighten-1 purple-text text-lighten-3">MSHE 407</div>
      <div class="chip purple lighten-1 purple-text text-lighten-3">MSHE 408</div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card">
    <div class="card-content">
      <p>The development of your research question can occur in four phases: Locating the Topic, Pinpointing the Problem, Defining the Purpose, and Establishing the Research Question (Savin-Badin and Major, 2013).</p>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab" ng-class="{active: tab == 'tab1'}"><a ng-click="setTab('tab1')">Phase 1</a></li>
        <li class="tab" ng-class="{active: tab == 'tab2'}"><a ng-click="setTab('tab2')">Phase 2</a></li>
        <li class="tab" ng-class="{active: tab == 'tab3'}"><a ng-click="setTab('tab3')">Phase 3</a></li>
        <li class="tab" ng-class="{active: tab == 'tab4'}"><a ng-click="setTab('tab4')">Phase 4</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="tab1" ng-show="tab == 'tab1'">
        <p><span class="card-title">Locating the Topic </span></p>
        <p>The research topic is a category or unit of study. It should hold the reasercher's interest as well as the interest of her intendened audience. To locate the research topic, ask: </p>
        <ul>
          <li>What is the general issue, problem, or controversy that you want to address?</li> 
          <li>What specific phenomenon, issue, or controversy leads to a need for this study? </li>
          <li>What is the concern being addressed “behind” this study?</li>
        </ul>
      </div>
      <div id="tab2" ng-show="tab == 'tab2'">
        <p><span class="card-title">Pinpointing the Problem </span></p>
        <p>The research problem should stress the importance of the study topic, making clear why it should be studied. The problem could be practice based or research based--i.e. it could fill a gap in literature or address an issue the research has observed in practice. Research problems may come from a range of areas including life experience, previous research, theory, and practical issues in the field.</p>
        <p>A few criteria should be met in order to make a research problem viable for study. Study the research problem, if you can:</p>
        <ul>
          <li>Gain access to people (research subjects) and sites</li>
          <li>Find time, locate resources, and use/develop your skills</li>
          <li>Justify the importance of the problem: others report the problem in literature, experiences others have had, your personal experience</li>
        </ul>
        <p>Study the research problem, if the study will:</p>
        <ul>
          <li>Fill a gap or void in existing literature</li>
          <li>Advance&nbsp;knowledge in the field in an important way</li>
          <li>Replicate a past study but examine different&nbsp;participants and different research sites</li>
          <li>Extend past research or examine the&nbsp;topic more&nbsp;thoroughly than past research</li>
          <li>Give voice to people silenced, not heard, or&nbsp;rejected in society</li>
          <li>Inform or contribute to&nbsp;higher education practice</li>
        </ul>
      </div>
      <div id="tab3" ng-show="tab == 'tab3'">
        <p><span class="card-title">Defining the Purpose </span></p>
        <p>Defining the propose can also be thought of as outlining a basic synopsis of the study. Ritchie and Lewis (2003) identify several key goals of qualitative research studeies which you can use to define your purpose:</p>
        <ul>
          <li>Contextual: Describes the form of nature of what exists</li>
          <li>Explanatory: Examines the reasons for, or associations between, what exists</li>
          <li>Generative: Aids the development of theories, strategies or actions</li>
          <li>Evaluative: Is done for the purpose of assessment, measurement, or evaluations</li>
          <li>Ideological: Is done for the purpose of advancing an ideological position</li>
        </ul>
        <p>A template for a purpose statement (adapted from Creswell 1998: 96 in Savin-Badin and Major, 2013):</p>
        <blockquote>
          The Purpose of this _____________ (biographical, phenomenological, grounded theory, ethnographic, case) study is to _________________ (contextualize? develop? evaluate?) the _________________ (topic of the study) for ______________ (phenomenon of the study: a person? process? groups?). At this stage in the research, the ______________ (central concept being studied) will be generally defined as ________________ (provide a general definition of the central concept).
        </blockquote>
      </div>
      <div id="tab4" ng-show="tab == 'tab4'">
        <p><span class="card-title">Establishing the Research Question</span></p>
        <p>In qualitative research, there should be one overarching question which may be supported by several sub-questions. However, having too many subqeuestions can be a distraction and cause the research project to lose focus. Two to four subquestions is generally a good target.</p>
        <p>Research questions should be open ended and focus on meaning rather than factual explanation. As such, they tend to start with 'what' or 'how'. However, there is no formula either for writing a research question or for developing a question. Researchs come to questions in their own ways through a variety of means such as:</p>
        <ul>
          <li>Intrinsic Interests</li>
          <li>Opportunism</li>
          <li>Gap Spotting</li>
          <li>Challenging Assumptions</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="col s6 l4">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img src="img/savin-baden.jpg" class="activator">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Ch. 7<i class="material-icons right">more_vert</i></span>  
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Chapter 7<i class="material-icons right">close</i></span>
      <p>Research Questions</p>
      <p class="grey-text">Special note on p. 102 for forming research questions.</p>
    </div>
  </div>
</div>
<div class="col s6 l8">
  <div class="card">
    <div class="card-content">
      <span class="card-title"><i class="material-icons">description</i> Other Readings</span>
      <p>Subquestions <span class="grey-text">John Creswell</span></p>
      <p>Identifying a Research Problem <span class="grey-text">John Creswell</span></p>
      <p>Writing Qualitative Research Questions <span class="grey-text">John Creswell</span></p>
    </div>
  </div>
</div>
<div class="col">
  <div class="card">
    <div class="card-content">
      <span class="card-title"><i class="material-icons">info_outline</i> General Tips</span>
      <ul>
        <li>Expect the questions to change as your understanding&nbsp;of the topic grows.</li>
        <li>Ask neutral, unbiased questions.</li>
        <li>Begin your question with&nbsp;<em>how</em>&nbsp;or&nbsp;<em>what</em>&nbsp;rather than <em>why</em>—these signifiers are more often associated with&nbsp;quantitative research.</li>
        <li>Use words such as&nbsp;<em>generate</em>, <em>discover</em>,&nbsp;<em>understand</em>, <em>describe</em>,&nbsp;and <em>explore</em>. Try to&nbsp;avoid&nbsp;words such&nbsp;as&nbsp;<em>affect</em>, <em>relate</em>, <em>compare</em>,&nbsp;<em>determine</em>, <em>cause</em>, and&nbsp;<em>influence</em> in your question—these signifiers suggest cause-and-effect, which is difficult to measure.</li>
        <li>Write the central question and sub-questions out in a cluster. This will help you look at your question from different angles.</li>
        <li>Identify the participants in the study.</li>
        <li>Mention the research site for the study, if possible.</li>
      </ul>
    </div>
  </div>
</div>
<div class="col s12 m6">
  <div class="card small">
    <div class="card-content grey-text">
      <span class="card-title black-text"><i class="material-icons right">assignment</i>Forming Research Questions Worksheet</span>
      <p>Use literature analysis to help form MPQ.</p>
    </div>
    <div class="card-action">
      <a href="https://northwestern.box.com/shared/static/luy5forqv8hdqopxki0z3w4fmqxp2s8u.docx" class="purple-text">Download <i class="material-icons right">file_download</i></a>
    </div>
  </div>
  
</div>